{% extends 'adminlayout.html' %}

{% block body %}
<div class='jumbotron text-center'>
      <h1>Taps Destinations Assgined to User: {{results2[0]}}<br></h1><br>
</div>    
     <a href="/manageusers" class="btn btn-info">Back</a>
     <a class="btn btn-success" href="/addassignedtap/?userid={{userid[0]}}">Assign Tap</a>
 
     <hr>
	 
	 <table class="table table-striped">
         <tr>
             <th>Name</th>
             <th>Type</th>
             <th>Address</th>
             <th></th>
         </tr>
         {% for id, name , type, dest  in results %}
          <tr>
             <th>{{name}}</th>
             <th>{{type}}</th>
             <th>{{dest}}</th>
			 <th><a href="/deleteasignedtap/?Tapid={{id}}&userid={{userid[0]}}" class="btn btn-danger">Remove</a></th>
          </tr>
         {% endfor %}
                  
     </table>
	 
     
{% endblock %}
 