{% extends 'layout.html' %}

{% block body %}
<div class='jumbotron text-center'>
      <h1>Backup Firewall System<br></h1><br>
      This option will take a configuration backup <br>
      and device state, and store it on you local device. <br>
</div>      
     <hr>
     
     <table class="table table-striped">
          {% for file in files %}
                    <tr>
             <th><a href="/backupdownload/{{ file }}">{{ file }}</a></th>
             <th><a href="/backupdelete/{{ file }}"" class="btn btn-danger">Delete</a></th>
          </tr>
          {% endfor %}
          <p><a href="/backuplocal" class="btn btn-success">Backup Now</a></p>               
     </table>
     
{% endblock %}
 