    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
       
        <img src="/static/images/pensando.png" alt="" style="width:160px;height:90px;">
      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setup</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/psmsetup">PSM Setup</a>
			  <a class="dropdown-item" href="/targetsetup">Target Setup</a>
			  <a class="dropdown-item" href="/workloadsetup">Workload Setup</a>
			  
            </div>
          </li>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Manager</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/manageadmin">Manager Admins</a>
              <a class="dropdown-item" href="/manageusers">Manager Users</a>
            </div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Taps</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/adminenabletap">Enable Tap</a>
              <a class="dropdown-item" href="/adminactivetap">Active Tap List</a>
              
            </div>

		  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged In</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <a class="dropdown-item" href="/changepwd">Change Password</a>
              <a class="dropdown-item" href="/login/logout">Logout</a>
            </div>
          </li>

            </div>
          </li>
        </ul>
      </div>
    </nav>